<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}NeHe Control Panel{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/admin_base.css" />
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}

	<script type="text/javascript" src="/static/js/syntax_highlighter/shCore.js"></script>
	<script type="text/javascript" src="/static/js/syntax_highlighter/shBrushJScript.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/syntax_highlighter/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
	
	<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
	tinyMCE.init({
	        // General options
	        mode : "textareas",
	        theme : "advanced",
	        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,syntaxhl",
	
	        // Theme options
	        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
	        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,syntaxhl,|,insertdate,inserttime,preview,|,spellchecker",
	        theme_advanced_toolbar_location : "top",
	        theme_advanced_toolbar_align : "left",
	        theme_advanced_statusbar_location : "bottom",
	        theme_advanced_resizing : true,
	
			extended_valid_elements : "pre[name|class]",
	
	        // Skin options
	        skin : "o2k7",
	        skin_variant : "silver",
	
	        // Example content CSS (should be your site CSS)
	        content_css : "/static/css/public_base.css",
	
	        // Drop lists for link/image/media/template dialogs
	        external_link_list_url : "js/link_list.js",
	        external_image_list_url : "js/image_list.js",
	        media_external_list_url : "js/media_list.js",
			relative_urls : false,	        
	});
	</script>

  </head>

  <body>
    <div id="header">
    	NeHe Control Panel
    </div>
    <ul id="breadcrumbs">
        <li><a href="/_admin/" title="Home"><img src="/static/images/home.png" alt="Admin Home" class="home" /></a></li>
    {% for breadcrumb in breadcrumbs %}
        <li><a href="{{breadcrumb.url}}">{{breadcrumb.text}}</a></li>
    {% endfor %}
    </ul>
	<h1>{{page_heading}}</h1>    
    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}		

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p></p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
