<html>
<head>

<title>Picman File Manager</title>

<script type="text/javascript">
function get_folder_list(dir) {
    //Make Ajax request to /picman/list_dir?path=current_path
}

</script>

</head>
<body>
<div>
    <button>Up</button>
    <input type="file" />
    <input type="submit" value="Upload" />
</div>
<div>
    <table cellpadding="0" cellspacing="0" id="file_list">
    {% for file in initial_files %}
        <tr>
            <td><a href="{{file.path}}">{{file.filename}}</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>
