{% extends "public_base.html" %}

{% block title %}NeHe Productions - Everything OpenGL{% endblock %}

{% block extra-head %}
<meta name="google-site-verification" content="zLpjthumtTXE3PiQDaKSFdLdkznFgVXj0PJyS-HjKag" />
{% endblock %}

{% block after_body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}

<div id="news_container">
    <div class="news_header">
        <img src="/static/images/nehe_news.jpg" border="0" />
    </div>
    {% if not news_posts %}
        <p>
            None available
        </p>
    {% endif %}
    {% for post in news_posts.object_list %}
        <div class="news_box">
            <div class="title">
                <a href="/news/{{post.url_name}}/{{post.pk}}/">{{post.title|upper}}</a>
         
            </div>
    		<!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_facebook" addthis:url="http://nehe.gamedev.net{{post.get_absolute_url}}" addthis:title="{{post.title}}"></a>
                <a class="addthis_button_twitter" addthis:url="http://nehe.gamedev.net{{post.get_absolute_url}}" addthis:title="{{post.title}}"></a>
<!--                            
+1 IS MEGA SLOW!
<a class="addthis_button_google_plusone" addthis:url="http://nehe.gamedev.net{{post.get_absolute_url}}" addthis:title="{{post.title}}"></a>  -->
            </div>
            <!-- AddThis Button END -->   
            <div class="author">
                by {% if post.author.profile.homepage_url %}<a href="{{post.author.profile.homepage_url}}">{{post.author}}</a>{% else %}{{post.author}}{% endif %}, posted at {{post.created_time}}
            </div>
            <div class="body">
                {{post.get_summary|safe}}
            </div>
            <div>
            	<p>
            	    <div class="continue">
            		<strong><a href="/news/{{post.url_name}}/{{post.pk}}/">CONTINUE READING</a></strong>
            		</div>
            		<div class="comment_count">
                		<a href="/news/{{post.url_name}}/{{post.pk}}/">
                        <span class="livefyre-commentcount" data-lf-site-id="287475" data-lf-article-id="{{post.pk}}">0 Comments</span>
                        </a>
            		</div>
            		<div class="clear"></div>
            	</p>
            </div>
        </div>        
    {% endfor %}
    <div>
    	<div style="text-align: left; width: 150px; float: left;">{% if news_posts.has_previous %}<a href="?page={{news_posts.previous_page_number}}">Newer Posts</a>{%endif%}</div>
    	<div style="text-align: right; width: 150px; float:right;">{% if news_posts.has_next %}<a href="?page={{news_posts.next_page_number}}">Older Posts</a>{%endif%}</div>
    	<div style="clear:both;"></div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="http://zor.livefyre.com/wjs/v1.0/javascripts/CommentCount.js"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f1bd6c243eb4da4"></script>    
{% endblock %}

{% block narrow_col_right %}
{% for block in menu_blocks %}
<div class="tutorial_block">
	{% for group in block.get_menu_groups %}
		<h2>{{group.name}}</h2>
		<ul>
			{% if not group.get_articles and not group.get_links %}
				<li>None available</li>
			{% endif %}
			{% for article in group.get_articles %}
			<li><a href="{{article.get_absolute_url}}">{{article.title}}</a></li>
			{% endfor %}
			{% for link in group.get_links %}
			<li>{{link|safe}}</li>
			{% endfor %}			
		</ul>
	{% endfor %}
</div>
{% endfor %}
<div style="padding-top: 10px;" class="fb-like-box" data-href="http://www.facebook.com/pages/NeHe/300582493323181" data-width="210" data-colorscheme="dark" data-show-faces="true" data-border-color="#0C5892" data-stream="false" data-header="false"></div>
<div style="text-align: center; padding:10px;">
<script type='text/javascript'>
GA_googleFillSlot("Skyscraper_NeHe");
</script>
    <a href="http://www.amazon.com/exec/obidos/ASIN/159863528X/ref=nosim/gamedev" onMouseOut="nd()" onMouseOver="overlib('A Totally Killer Book Written By The Staff At GameDev.', CAPTION, 'Featured Book');"><img style="margin-top: 20px;" src="/static/images/boglgp.jpg" border="0" hspace="3" vspace="3" alt="Featured Book"></a><br/>
</div>
{% endblock %}
