{% extends "public_base.html" %}

{% block title %}NeHe Productions: {{article.title}}{% endblock %}

{% block adsense %}
    {% if not article.author.profile.adsense_code %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block after_body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% endblock %}

{% block content %}
<div id="article_container">
{% if user.is_superuser %}
<div style="text-align:left;">
    <strong><img align="left" src="/static/images/edit.png" height="22" width="22" hspace="2"/><a target="_blank" href="/admin/articles/article/{{article.pk}}/">Edit this article</a></strong>
    <div style="clear:both;"></div>
</div>    
{% endif %}

<h1 class="article-header">{{article.title}}</h1>
<div class="social-media">
<!-- Place this tag where you want the +1 button to render -->
<div class="g-plusone" data-size="medium" data-width="120" data-annotation="inline"></div>
<div class="fb-like" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" data-colorscheme="dark" data-font="arial"></div>
</div>
<div style="clear:both;"></div>
{{article.html_content|safe}}

{% if article.comments_enabled %}
<div class="comment_section">
<!-- START: Livefyre Embed -->
<script type='text/javascript' src='http://livefyre.com/wjs/javascripts/livefyre.js'></script>
<script type='text/javascript'>
    var fyre = LF({
        site_id: 287475,
        article_id: {{article.pk}},
        version: '1.0'
    });
</script>
<!-- END: Livefyre Embed -->
{% endif %}
</div>
</div>

{% endblock %}

{% block preload_js %}
{% if article.author.profile.flattr_user_id %}
<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&uid={{article.author.profile.flattr_user_id}}';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
{% endif %}
</script>
{% endblock %}

{% block narrow_col_right %}

{% if article.author.profile.flattr_user_id %}
<h3 style="text-align: center">Support this Author</h3>
<p style="text-align: center">
<a class="FlattrButton" style="display:none;"
    title="{{article.title}}"
    rel="flattr;uid:{{article.author.profile.flattr_user_id}};category:text;tags:opengl,article,nehe,gamedev;"
    href="http://nehe.gamedev.net{{article.get_absolute_url}}">
</a>
</p>
{% endif %}


<div style="text-align: center; padding:10px;">
{% if article.author.profile.adsense_code %}
<script type="text/javascript"><!--
google_ad_client = "{{article.author.profile.adsense_code}}";
/* Nehe_Skyscraper */
google_ad_slot = "{{article.author.profile.adsense_slot}}";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% else %}
<script type='text/javascript'>
    GA_googleFillSlot("Skyscraper_NeHe");
</script>
{% endif %}
</div>
{% endblock %}

{% block adsense_horizontal %}
{% if article.author.profile.leaderboard_adsense_code %}
    <script type="text/javascript"><!--
    google_ad_client = "{{article.author.profile.leaderboard_adsense_code}}";
    /* Leaderboard_NeHe */
    google_ad_slot = "{{article.author.profile.leaderboard_adsense_slot}}";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>    
{% else %}
    {{block.super}}
{% endif %}
{% endblock %}

{% block js %}
    {{block.super}}

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>    
{% endblock %}
